<h1>Reset your password</h1>

<p>Reset your password by clicking on the link below. The link is valid for the next 2 hours.</p>
<a class="btn btn-primary" href="https://feeder-fish.herokuapp.com/password_reset/update?token=<%= @user.password_reset_token %>">Reset password</a>