/* Button */
button:disabled,
button[disabled] {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

button,
a,
input,
input[type='radio'],
input[type='submit'],
input[type='checkbox'] {
  transition: all 150ms ease-in-out;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Serif';
}
