/* Button */
button:disabled,
button[disabled] {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

button,
a,
input,
input[type='radio'],
input[type='submit'],
input[type='checkbox'] {
  transition: all 150ms ease-in-out;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Serif';
}

/* Spinner */
.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid rgb(0, 93, 255);
  border-color: rgb(0, 93, 255) transparent rgb(0, 93, 255) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
